html, body {
  padding: 0;
  margin: 0;
  background: #f082c8;
}

canvas {
  z-index: 1;
  /* position: absolute; */
}

video {
  z-index: 0;
  position: absolute;
}

img {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

#holder {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 94%;
  position: absolute;
  bottom: 0;
  z-index: 3;
  padding: 3%;
  background: rgba(0, 0, 0, 0.5)
}

#intro {
  margin-bottom: 35px;
  font-size: 2em;
  width: 40%;
  text-align: center;
  color: #fff;
}

.clear {
  display: block;
  width: 100%;
  clear: both;
}

.button, #home {
  display: inline;
  padding: 5px;
  background: fuchsia;
  font-size: 1.5em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

#home {
  display: block;
  padding: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 4;
}

.button:hover {
  color: yellow;
}

#shutter {
  display: inline-block;
  margin: 0 20px 0 20px;
  width: 50px;
  height: 50px;
  background-image: url('./assets/shutter.png');
  background-size: contain;
  cursor: pointer;
}

.frame1 {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: url('./assets/frame1.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.frame2 {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: url('./assets/frame2.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.hide {
  display: none;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

#gum-local {
  z-index: 5;
}

#text {
  font-size: 8px;
}

.hide-img {
  display: none;
}

#banner-container {
  width: 300px;
  height: 250px;
  margin: 15px auto;
  background-image: url('./assets/banner_bg.jpg');
}

.banner-content {
  width: 300px;
  height: 250px;
  position: relative;
}

.pig {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 600px) {
  #intro {
    font-size: 1em;
    width: 75%;
  }
}